{% extends 'errors/layout.html.twig' %}

{% block title %}404 - page introuvable{% endblock %}
{% block contents %}
    <h2>404 - page introuvable</h2>
    <h3>Oups... Il semblerait que la page que tu cherches n'existe pas...</h3>
{% endblock %}