<?php

//Connexion to the database

function getConfig()
{
    return [
        'mysql' => ['host' => 'host', 'dbname' => 'dbname', 'username' => 'username', 'pass' => 'pass'],
        'mongodb' => ['host' => 'mongodb+srv://*****', 'dbname' => 'dbname']
    ];
}