{% extends 'layout.html.twig' %}

{% block title %}Contact{% endblock %}
{% block contents %}
    <h1>Contact</h1>
    <p><strong>Adresse</strong> : 88 Rue Ilyes Pomé, 00000 Nulle-Part-sur-Rien</p>
    <p><strong>Téléphone</strong> : +33 06 12 34 56 78</p>
    <p><strong>Adresse mail</strong> : prenom.nom@mail.com</p>
    <p><strong>LinkedIn</strong> : <a href="https://www.linkedin.com/in/mon-vrai-profil/">https://www.linkedin.com/in/mon-vrai-profil/</a></p>
{% endblock %}