{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block contents %}
    <h1>Bienvenue sur le framework Fram !</h1>
    <h3>Créez votre espace personnel simplement et efficacement !</h3>
    <p>Donec condimentum turpis ac blandit dignissim. Nulla non turpis vitae libero imperdiet accumsan et id tellus. Cras in libero sapien. Nullam sed gravida ex. Aenean in ante ex. Praesent faucibus libero nulla, tempor congue massa facilisis in. Aliquam sit amet nisi sed ante rhoncus euismod. Sed lobortis arcu vitae consequat dictum. Vestibulum ac varius tellus. Fusce nisl erat, efficitur et lacus ut, sodales placerat enim. Integer blandit mi ipsum, sed tristique magna efficitur non. Mauris egestas risus nunc, ut vestibulum felis viverra volutpat. Suspendisse eget consectetur sem, sed tincidunt nulla. Aliquam vitae aliquet quam. Suspendisse potenti.</p>
    <p>Praesent eu nibh sapien. Curabitur molestie gravida velit, et mattis odio tincidunt quis. Curabitur at ex sit amet mi rhoncus molestie vel in metus. Proin ut tellus eget diam lobortis finibus. Sed vel consectetur sapien. Sed congue maximus purus vel ornare. Nulla malesuada odio libero, eget ultricies magna molestie vitae. Ut molestie nisi imperdiet ante tempus venenatis. Aenean consequat nec nisi a malesuada. In enim purus, maximus et lorem a, interdum ornare eros. Suspendisse vitae eros pulvinar, tincidunt dui a, faucibus felis. Integer maximus volutpat enim eget porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti.</p>
{% endblock %}